<navbar>
    <button><a href="/venues">List of Venues</a></button>
    <button><a href="/band">List of Bands</a></button>
    <button><a href="/venues/new">Add New Venue</a></button>
    <button><a href="/band/new">Add New Band</a></button>
</navbar>