<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to BAND-LINK!</h1>
    <a href="/new">Click here to register!</a><br>
    <a href="/new/login">Click here to login!</a><br>
    <a href="/artistDb">Click here see da artist!</a>


</ul>
</body>
</html>