<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Our World of Entertainment!</h1>
    <p>This site will allow you Venues and Artist to collaborate. If you are a new user, please register. If not please sign in.</p>

    <button><a href="/users/new">Register</a></button>
    <button><a href="/users/login">Log In</a></button>
    
</body>
</html>