<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include ./partials/_bootstrap.ejs%>

</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand" style="float: left; width: 200px">GigLink</h3>
                <nav class="nav nav-masthead justify-content-left">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link active" href="#">About</a>
                    <a class="nav-link active" href="#">FAQ</a>
                </nav>
            </div>
        </header>
        <main role="main" class="inner cover" style="    width: 500px; margin-top: 150px; text-align: center; margin-left: 30%;">
            <h4>GigLink makes booking gigs simple!</h4>
            <p>This site will allow you Venues and Artist to collaborate. If you are a new user, please register. If not please sign in.</p>

            <button><a href="/users/new">Register</a></button>
            <button><a href="/users/login">Log In</a></button>
        </main>
    </div>
</body>
</html>