<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Register as a new band below Below</h1>
    <%- include ../partials/_navbar.ejs%>
    <form action="/band" method="POST">
        <label for="bandName">Band Name:</label>
        <input type="text" name="bandName">
        <label for="genre">Genre:</label>
        <input type="text" name="genre">
        <label for="description">Description:</label>
        <input type="text" name="description">
        <label for="priceRange">Price Range:</label>
        <input type="text" name="priceRange"><br>
        <label for="image">Image Link:</label>
        <input type="text" name="image">
        
        <input type="submit" value="Resgister your band!">
    </form>

</ul>
</body>
</html>